<div class="row center">
  <div class="col-xs-8 col-xs-offset-2" style="background-color:white; margin-top:20px;">

    <h2><strong>Update Your Profile Information</strong></h2><br><br>

    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, value: " " %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
      <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.text_field :first_name, autocomplete: "off", value: " "  %>
      </div>

      <div class="field">
        <%= f.text_field :last_name, autocomplete: "off", value: " "  %>
      </div>

      <div class="field">
        <%= f.select :party, %w(Republican Democratic Undecided), prompt: " " %>
      </div>

      <div class="field">
        <%= f.text_field :profile_image, autocomplete: "off", value: " " %>
      </div>

      <div class="field">
        <%= f.file_field :avatar, as: :file, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.text_field :bio, size: "6x6", autocomplete: "off", value: "#{current_user.bio}" %>
      </div>

      <div class="actions">
      <ul class="list-inline">
        <li><%= f.submit "Update" %></li>
        <li><%= link_to "Back", :back, class: "btn btn-default" %></li>
      </ul>
      </div><br><br>
    <% end %>

    <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn-danger btn-xs" %></p>



  </div>
</div>
