<div class="row" id="runners">
  <% @candidates.each do |runner| %>
  <div class="col-md-4">
    <div class="profile-wrapper">
      <div class="profile-inner" style="background: url(<%= runner.profile_image || runner.avatar.url(:medium) %>)
        no-repeat center; background-size:cover;">
          <%= image_tag(runner.profile_image || runner.avatar.url(:medium), class: "small-thumb") %>
      </div>
      <div class="description">
         <h3><%= runner.full_name %></h3>
          <h5> <strong><%= runner.party %></strong></h5>
          <hr>
          <%= link_to "More Information +", user_path(runner), class: "btn btn-danger btn-block" %>
      </div>
       </div>
      <br>
  </div>
  <% end %>
</div>
