<% @issues.each_with_index do |issue, index| %>
  <div class="col-xs-12">
    <h1 class="text-center"><strong><%= issue.name %></strong></h1>
  </div>

  <div class="row" id="stance">
    <% @candidates.each do |stance| %>
      <div class="col-xs-4 text-center">
        <p class="lead"><%= stance.statement_by_issue(issue.name) %></p>
      </div>
    <% end %>
  </div>
  <div class ="text-center" id="checkboxes">
    <div class="row" id="options">
      <div class="votemachine">
        <div class="col-xs-4">
          <label class="radio-inline" id="runner_one"><input type="radio" name="pete<%= index %>">I Agree</label>
        </div>
        <div class="col-xs-4">
          <label class="radio-inline" id="runner_two"><input type="radio" name="pete<%= index %>">I Agree</label>
        </div>
        <div class="col-xs-4">
          <label class="radio-inline" id="runner_three"><input type="radio" name="pete<%= index %>">I Agree</label>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
$("votemachine").on("change", function(){
   ("#runner_one").length;
   ("#runner_two").length;
   ("#runner_three").length;
});




</script>
