
<% @races.each do |race| %>
  <%= link_to race.title, race_path(race) %>, District: <%= race.district %>
<% end %>

<div class="container">
  <div class="col-md-12">
    <h1>Bootstrap 3 Thumbnail Slider</h1>

    <div class="well">
      <div class="carousel slide" id="myCarousel">

<!-- Carousel items -->

        <div class="carousel-inner">
            <% @races.each_with_index do |race, index| %>
              <div class="item <%= 'active' if index == 0 %>" data-slide-number="<%= index %>">
                  <%=  %>
              </div>
              <% end %>
          </ul>
        </div>
      </div>
<!--/carousel-inner-->
      <a class="left carousel-control" data-slide="prev" href="#myCarousel">‹</a>

      <a class="right carousel-control" data-slide="next" href="#myCarousel">›</a>
    </div>
<!--/myCarousel-->
  </div>
<!--/well-->
</div>
