<div class="row" id="show-profile">
  <div class="col-md-4">
    <div class="profile-wrapper">
      <div class="profile-inner" style="background: url(<%= image_check_show %>)
        no-repeat center; background-size:cover; ">
      </div>
      <div class="description">
         <h3><%= user.full_name %></h3>
          <h5> <strong><%= user.party %></strong></h5>
          <hr>
          <div class="row">
            <ul class="list-inline">
              <li> <%= capitalize_role %> </li>
            </ul>
          </div>
      </div>
       </div>
      <br>
  </div>
  <div class="col-xs-8 col-xs-offset-0 pull-right" id="runner-info">
    <div class="following_data"
      <p><h3><strong>Candidates <%= possessive(user.first_name) %> following: </strong></h3> <%= user.family %></p>
    </div>
      <p><h3><strong>Races <%= possessive(user.first_name) %> following:</strong></h3> <%= user.education %></p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
  <% if user.bio.blank? %>
  <% else %>
    <h1 class="text-center"><strong>Biography</strong></h1>
  <% end %>
  </div>
  <div class="col-xs-12" id="user_bio">
    <p><%= user.bio %></p>
  </div>
</div>
