  <div class="user_name">
    <h2> <%= @user.first_name%> <%= @user.last_name %> </h2>
  </div>

<div class="user_information">
  <div class="row">
    <div class="col-xs-5">
      <%= image_check %>
    </div>
    <div class="col-xs-5">
      <p> First Name: <%= @user.first_name %> </p>
      <p> Last Name: <%= @user.last_name %> </p>
      <p> Email: <%= @user.email %> </p>
    </div>
  </div>
</div>

<div class = "bio">
  <div class="row">
    <div class="col-xs-12" "center-block">
      <p> <%= best_in_place @user, :bio %> </p>
      <p> <%= button_to "Edit Bio", edit_user_path(@user), method: :get %> </p>
    </div>
  </div>
</div>
