
<%= image_tag @user.avatar.url(:thumb) %>
<div class = "user-header">
<%if @user.last_name.ends_with? "s" %>
  <h1><%=@user.first_name%> <%=@user.last_name%>' Voteanuity</h1>
<% else %>
  <h1><%=@user.first_name%> <%=@user.last_name%>'s Voteanuity</h1>
<% end %>

<%= link_to 'Profile', user_path(:id => @user.id) %>
</div>
