<div class="row" style="margin-top:20px;">
  <div class="col-xs-12 pull-right">
    <%= link_to "Back", :back, class: "btn-default btn-lg" %>
  </div>
</div>

<div class="row show-profile" style="margin-top:20px;">
  <div class="col-md-4">
    <div class="profile-wrapper">
      <div class="profile-inner" style="background: url('/assets/bill.png')
        no-repeat center center; ">
      </div>
      <div class="description">
          <h3 style="margin:0"><%= @bill.billName %></h3>
        <hr>
          <%= @bill.shortDescription %>
      </div>
    </div>
    <br>
  </div>

  <div class="col-xs-8 col-xs-offset-0 pull-right bill-info">
    <p style="margin-bottom:4px;"><strong style="font-size:22px;">Authors:</strong> <%= @bill.authors.collect{|x| x["fullName"]}.join(", ") %></p>
    <p style="margin-bottom:4px;"><strong style="font-size:22px;"><%= display_coauthors %></strong> <%= @bill.coauthors.collect{|x| x["fullName"]}.join(", ") %></p>
    <p style="margin-bottom:4px;"><strong style="font-size:22px;"><%= display_sponsors %></strong> <%= @bill.sponsors.collect{|x| x["fullName"]}.join(", ") %></p>
    <p style="margin-bottom:4px;"><strong style="font-size:22px;"><%= display_cosponsors %></strong> <%= @bill.cosponsors.collect{|x| x["fullName"]}.join(", ") %></p>
    <p style="margin-bottom:4px;"><strong style="font-size:22px;"><%= display_advisors %></strong> <%= @bill.advisors.collect{|x| x["fullName"]}.join(", ") %></p>
  </div>
</div>

<div class="row more-less" id="digest">
  <div class="col-xs-12">
    <h1 class="text-center"><strong>Digest</strong></h1>
  </div>
  <div class="col-xs-12 more-block" id="user_bios">
    <p><%= @bill.digest %></p>
  </div>
</div>
