<p id="notice"><%= notice %></p>

<p>
  <strong>Position title:</strong>
  <%= @legislator.position_title %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @legislator.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @legislator.lastName %>
</p>

<p>
  <strong>Party:</strong>
  <%= @legislator.party %>
</p>

<p>
  <strong>Link:</strong>
  <%= @legislator.link %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @legislator.fullName %>
</p>

<%= link_to 'Edit', edit_legislator_path(@legislator) %> |
<%= link_to 'Back', legislators_path %>
