<div class="row" id="show-profile">
  <div class="col-md-4">
    <div class="profile-wrapper">
      <div class="profile-inner" style="background: url(<%= @legislator.leg_pic_url %>)
        no-repeat center center; ">
      </div>
      <div class="description">
         <h3><%= @legislator.full_name %></h3>
          <h5> <strong><%= @legislator.party %></strong></h5>
          <hr>
          Session: <%= @legislator.session %>
      </div>
       </div>
      <br>
  </div>
  <div class="col-xs-8 col-xs-offset-0 pull-right" id="runner-info">
      <p><h3><strong>Committees:</strong></h3>
        <% @legislator.committees.each do |hash| %>
        <ul>
          <li><%= hash["name"] %></li>
        </ul>
        <% end %>
      </p>
  </div>
</div>

<div class="row">
    <div class="col-xs-12">
      <div class="col-xs-6">
        <h1 class="pull-right"style="margin-right:135px;"><strong>Authored Bills</strong></h1>
      </div>
      <div class="col-xs-6">
        <h1 class="pull-left" style="margin-left:100px;"><strong>Co-Authored Bills</strong></h1>
      </div>
    </div>
  <div class="col-xs-6 pull-left outer-scroll user_bios2" style="margin-left:70px;">
    <ul class="scrolling-bills">
      <% @legislator.bill_authored.each do |hash| %>
        <li class="list-unstyled"><strong><%= hash["billName"] %></strong>:
          <%= truncate(@legislator.shortDescription(hash["billName"]), length: 30) %>. <%= link_to "Link To Bill", cill_path(hash["billName"]) %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-xs-6 pull-right outer-scroll user_bios2" style="margin-right:70px;">
    <ul class="scrolling-bills">
      <% @legislator.bill_co_authored.each do |hash| %>
        <li class="list-unstyled"><strong><%= hash["billName"] %></strong>:
          <%= truncate(@legislator.shortDescription(hash["billName"]), length: 30) %>. <%= link_to "Link To Bill", cill_path(hash["billName"]) %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-6">
      <h1 class="pull-right" style="margin-right:110px;"><strong>Sponsored Bills</strong></h1>
    </div>
    <div class="col-xs-6 ">
      <h1 class="pull-left" style="margin-left:80px;"><strong>Co-Sponsored Bills</strong></h1>
    </div>
  </div>
  <div class="col-xs-6 pull-left outer-scroll user_bios2" style="margin-left:70px;">
    <ul class="scrolling-bills">
      <% @legislator.bill_authored.each do |hash| %>
        <li class="list-unstyled"><strong><%= hash["billName"] %></strong>:
          <%= truncate(@legislator.shortDescription(hash["billName"]), length: 30) %>. <%= link_to "Link To Bill", cill_path(hash["billName"]) %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-xs-6 pull-right outer-scroll user_bios2" style="margin-right:70px;">
    <ul class="scrolling-bills">
      <% @legislator.bill_co_authored.each do |hash| %>
        <li class="list-unstyled"><strong><%= hash["billName"] %></strong>:
          <%= truncate(@legislator.shortDescription(hash["billName"]), length: 30) %>. <%= link_to "Link To Bill", cill_path(hash["billName"]) %></li>
      <% end %>
    </ul>
  </div>
</div>
