<div class="row" id="show-profile">
  <div class="col-md-4">
    <div class="profile-wrapper">
      <div class="profile-inner" style="background: url(<%= @legislator.leg_pic_url %>)
        no-repeat center center; ">
      </div>
      <div class="description">
         <h3><%= @legislator.full_name %></h3>
          <h5> <strong><%= @legislator.party %></strong></h5>
          <hr>
          Session: <%= @legislator.session %>
      </div>
       </div>
      <br>
  </div>
  <%= render partial: 'legislators/legislator_info' %>
</div>
