<div class="row center">
  <div class="col-xs-8 col-xs-offset-2" style="background-color:white; margin-top:20px;">
  <h2><strong>Sign In</strong></h2><br><br>
    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <ul class="list-inline">
          <li><%= f.submit "Log in" %><%= render "devise/shared/links" %></li>
        </ul>
      </div>
    <% end %>


  </div>
</div>
