<footer class="footer-distributed">

	<div class="footer-left">

		<p class="footer-links">
			<%= link_to "Home", root_path %>
			·
      <%= link_to "Legislators", legislators_path %>
			<% if user_signed_in? %>
      ·
      <%= link_to "Update Account", edit_user_registration_path %>
      <% end %>
		</p>
      <p class="footer-company-name">Votenuity &copy; 2015</p>
  </div>

	<div class="footer-right">
    <%= form_tag legislators_path(:search_item), :method => :get, class: "navbar-form navbar-left" do %>
    <%= text_field_tag :search_item, params[:search_item], placeholder: 'Search Legislators', :autocomplete => :off, class: "form-control"  %>
    <%= submit_tag "Search", class: "btn-sm btn-danger" %>
    <% end %>
  </div>

</footer>
