<nav class="navbar navbar-inverse" role="navigation">
  <div class="container" id="nav-top">
    <div class="navbar-header">
      <%= link_to "Votenuity™", root_path, class: "navbar-brand" %>
    </div>
    <% if user_signed_in? && current_user.role == "admin" %>
    <div class="navbar-header text-right">
      <%= link_to "Admin Dashboard", rails_admin.dashboard_path, class: "navbar-brand" %>
    </div>
    <% end %>

    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Legislators", legislators_path %></li>
        <li><%= render partial: "layouts/dropdown" %></li>
        <% if user_signed_in? %>
        <% if current_user == @user || current_user.role == "admin" || current_user.role == "voter" %>
        <li><%= link_to "Profile", user_path(id: current_user.id) %></li>
        <% end %>
        <li><%= link_to "Update Account", edit_user_registration_path, :class => 'navbar-link'  %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
        <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link' %></li>
        <li><%= link_to "Sign In", user_session_path, :class => 'navbar-link' %></li>
        <% end %>
        <%= form_tag "#", :method => :get, class: "navbar-form navbar-left" do %>
        <%= text_field_tag :search_item, params[:search_item], placeholder: 'Search...', :autocomplete => :off, class: "form-control"  %>
        <%= submit_tag "Search", class: "btn btn-danger" %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
