<!DOCTYPE html>
<html>

<head>
  <title>Votenuity</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
      <%= csrf_meta_tags %>
</head>

<body>
  <%= render partial: "layouts/nav" %>


      <!-- Shows errors when one is present -->
      <div class="container" id="background">

        <div class="text-center" id="flash_hook">
          <% if flash[:error] %>
            <p class='error'>
              <%=h flash[:error] %>
            </p>
            <% end %>
              <% if flash[:notice] %>
                <p class='notice'>
                  <%=h flash[:notice] %>
                </p>
                <% end %>
        </div>

        <%= yield %>

      </div>

  <%= render partial: "layouts/footer" %>

</body>

</html>
